<form method="post" action="{{ path('app_participation_delete', {'id': participation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette participation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
